/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "datepicker";
 @import "blueimp-gallery.min";
 @import "bootstrap-image-gallery";

#links {
  padding-left: 4em;
}
 #search-container {
  padding: 1% 8%;
  .search-query { width: 45%; }
  .toggle-options { padding-top: 1em; }
 }
#search-options {
  width: 100%;
}
#daterange-search {
  display: inline-block;
  width: 56%;
  .input-sm { width: 6em; }
  margin: 1em 1em;
}
#daterange-order {
  width: 36%;
  display: inline-block;
  select { width: 10em; }
}
.float-right { float: right; }
.float-left { float: left; }
